{% extends "default/default_base.html" %}
{% block content %}
<div class="row">
    {% for article in articles_page.object_list %}
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-5 col-md-5 panel panel-default">
           <h5 class="panel-heading">{{article.title}} 
            {% if article.draft == "yes" %}
               <div class="badge badge-secondary"> (Draft) </div>
            {% endif %}
           </h5>
          <div class="panel-body">
             {{article.summary}}
          </div>
          <div class="panel-footer pull-right">
             <a href="{{article.slug}}.html" class="btn btn-primary">View Presentation</a>
           </div>
        </div>
    {% endfor %}
</div>
{% if articles_page.has_other_pages() %}
    {% include 'default/pagination.html' %}
{% endif %}

{% endblock content %}
