/*
Material HTML5 Template (https://naveenshaji.github.io/material)
The MIT License (MIT)

Copyright (c) 2015 Naveen Shaji

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/


body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.clamp-module {
    height: 120px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.post-title {
    overflow: hidden;
    max-height: 1.2em;
}
/*.card:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

nav {
    overflow: visible !important;
    z-index: auto;
    will-change: contents !important;
}

.scrollToTop {
    position: fixed;
    top: 100px;
    right: 40px;
    display: none;
}

.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: visible;
}

.xpreloading {
    width: 800px;
    height: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.xpretext {
    width: 800px;
    height: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 10px;
}

.xprebutton {
    margin-left: 650px;
    margin-top: -300px;
}

.xprecontainer {
    margin-top: -360px;
}

.xprecontainer2 {
    margin-top: -220px;
    margin-left: 220px;
}

.man {
    width: 200px;
}

.mast {
     margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20%;
}
.mast h1{
    font-size: 100px;
}
.mast h6{
    font-size: 18px;
}
.preshadow {
    padding-bottom: 40px;
}

.scroll-1 {
    position: fixed;
    left: 50%;
    top: 0%;
}

.scroll-1 .card-content {
    overflow: hidden;
}

.advantage {
    padding: 20px;
    width: 100%;
    min-height: 100px;
    transition: all 0.2s ease;
}

.advantage:hover {
    opacity: 0.8;
}

.card .cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-image: url("{{site.baseurl}}/img/1.jpg");*/
    transition: 0.3s all ease;
    overflow: hidden;
}

.card .cover .cover-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 150px;
    overflow: hidden;
    text-overflow: clip; /*add max-width */
    max-width: 100%;
    
}

.card .cover:hover {
    transform: scale(1.04);
}

.card .cover .filter {
    width: 100%;
    height: 120%;
    opacity: 0.4;
}

.card-title {
    font-family: 'Open Sans';
}

@media (min-width: 1600px) {
    .scroll-1 {
        width: 1200px;
        margin-left: -600px;
    }
    .scroll-1 .card .cover {
        width: 1200px;
    }
}

@media (max-width: 1600px) {
    .scroll-1 {
        width: 1000px;
        margin-left: -500px;
    }
    .scroll-1 .card .cover {
        width: 1000px;
    }
}

@media (max-width: 1200px) {
    .scroll-1 {
        width: 900px;
        margin-left: -450px;
    }
    .scroll-1 .card .cover {
        width: 900px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .scroll-1 {
        width: 700px;
        margin-left: -350px;
    }
    .scroll-1 .card .cover {
        width: 700px;
    }
}

@media (max-width: 767px) {
    .scroll-1 {
        width: 500px;
        margin-left: -250px;
    }
    .scroll-1 .card .cover {
        width: 500px;
    }
}

@media (max-width: 480px) {
    .scroll-1 {
        width: 450px;
        margin-left: -225px;
    }
    .scroll-1 .card .cover {
        width: 450px;
    }
}
/*HEIGHT*/

@media (min-height: 1600px) {
    .scroll-1 .card-content {
        height: 300px;
    }
    .scroll-1 .card .cover {
        height: 600px;
    }
}

@media (max-height: 1600px) {
    .scroll-1 .card-content {
        height: 300px;
    }
    .scroll-1 .card .cover {
        height: 500px;
    }
}

@media (max-height: 1200px) {
    .scroll-1 .card-content {
        height: 300px;
    }
    .scroll-1 .card .cover {
        height: 400px;
    }
}
/* Portrait tablet to landscape and desktop */

@media (max-height: 979px) {
    .scroll-1 .card-content {
        height: 200px;
    }
    .scroll-1 .card .cover {
        height: 250px;
    }
}
/* Landscape phone to portrait tablet */

@media (max-height: 667px) {
    .scroll-1 .card-content {
        height: 140px;
    }
    .scroll-1 .card .cover {
        height: 190px;
    }
}

@media (max-height: 567px) {
    .scroll-1 .card-content {
        height: 120px;
    }
    .scroll-1 .card .cover {
        height: 140px;
    }
}
/* Landscape phones and down */

@media (max-height: 480px) {
    .scroll-1 .card-content {
        height: 100px;
    }
    .scroll-1 .card .cover {
        height: 100px;
    }
}

.scrollToTop i {
    font-size: 50px;
}
