<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

{% include 'default/head.html'%}

<body class="{{ SITEURL }} lighten-5">
	{% include 'default/nav.html'%}

     <div class="container">
       <div class="row">
         <div class="col-md-12 col-lg-12 col-sm-12">
          {% block content %}
          {% endblock %}
         </div>
       </div>
    </div>
    {% include 'default/footer.html'%}   
</body>
</html>
