<footer class="page-footer {{ SITECSS }} darken-2" style="color:#fff;">
    <div class="container">
        <div class="row">

            <div class="col l3 m6 s12">
                <h5 class="white-text">Social Links</h5>
                <ul>
                  {% for title, link in SOCIAL %}
                    <li><a class="grey-text text-lighten-3" href="{{link}}" target="_blank">{{ title }}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>


            <div class="col l5 m6 s12">
                <p> 
                All the contents in the presentation are under Creative Commons license, unless otherwise noted. You are free to use all the content for whatever purpose, either giving me credits or not giving me one.
                </p>
            </div>
            <div class="col l4 m6 s12">
                <p class="text-lighten-4">
                  <address id="about" >
                    The presentations here are built using,<a href="https://gitlab.com/voidspacexyz/presentations360"> Presentations360</a>, a Free Software. Presentations is proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                    which takes great advantage of <a href="http://python.org">Python</a>.
                <br />
                </address><!-- /#about -->
              </p>
            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 {{AUTHOR}}
            <a class="grey-text text-lighten-4 right" href="{{SITEURL}}" target="_blank">{{SITENAME}}</a>
        </div>
    </div>
</footer>


<footer id="contentinfo" class="body">

   </footer><!-- /#contentinfo -->
