<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand">VoidSpaceXYZ's Presentations</a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="https://voidspace.xyz">Home</a></li>
      <li ><a href="https://blog.voidspace.xyz">Blog</a></li>
      <li><a href="https://presentations.voidspace.xyz/">Presentations</a></li>
      <li ><a href="https://blog.voidspace.xyz/feeds/all.atom.xml">Blog updates</a></li>
      <li><a href="https://gitlab.com/{{GITLAB_NAME}}" target="_blank">Code I write</a></li>
    </ul>
  </div>
</nav>

